
        <div class="container">
            <div class="row">
        <span>
            <!-- WhatsApp Floating Button -->
            <a href="https://wa.me/50241835663" target="_blank"
                class="btn btn-success d-flex align-items-center justify-content-center whatsapp-float"
                aria-label="Chat por WhatsApp ">
                <img src="/assets/media/whatsapp.svg"  
                    loading="lazy"
                    class="icon-small" 
                    width="24" height="24"
                    alt="whatsapp">                
            </a>
        </span>
                <div class="col-lg-6 col-12 me-auto mb-5 mb-lg-0">
                    <a class="navbar-brand d-flex align-items-center" href="/index.html">
                        <img src="/assets/media/logo.webp" class="navbar-brand-image img-fluid"
                            alt="Ntra. Sra. de Fátima, Clínica Pediátrica">
                        <span class="navbar-brand-text">
                            Ntra. Sra. de Fátima
                            <small>Clínica Pediátrica</small>
                        </span>
                    </a>
                    <h6 class="fw-bold mb-3 text-dark">Temas de Interés</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/salud/event-listing.html" aria-label="Programa de eventos">
                                Programa
                            </a>
                        </li>
                        <li>
                            <a href="/salud/event-detail.html" aria-label="Detalles de eventos">
                                Detalles
                            </a>
                        </li>
                        <li>
                            <a href="/salud/tecnica_lactancia_materna.html"
                                aria-label="Información sobre el Recién Nacido">
                                El Recién Nacido
                            </a>
                        </li>
                        <li>
                            <a href="/salud/cydInfantil.html" aria-label="Desarrollo en la Niñez">
                                Desarrollo en la Niñez
                            </a>
                        </li>
                        <li>
                            <a href="/salud/PrevenciondeEnfermedades.html"
                                aria-label="Protección Contra Enfermedades Serias">
                                Protección Contra Enfermedades Serias
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-12">
                    <h5 class="site-footer-title mb-4">Visítenos</h5>

                    <p class="d-flex border-bottom pb-3 mb-3 me-lg-3">
                        <span>LUN - SÁB</span>
                        8:00 AM - 5:00 PM
                    </p>

                    <p class="d-flex me-lg-3">
                        <span>DOMINGO</span>
                        Cerrado
                    </p>
                    <br>
                    <p class="copyright-text">&copy; <span id="current-year"></span> Nuestra Señora de Fátima Clínica
                        Pediátrica Todos los derechos reservados.</p>
                    <p><strong>12 av. 7-21 z. 1, San Mateo 2, <br>Esquipulas, Chiquimula, Guatemala</strong></p>
                </div>

                <div class="col-lg-2 col-12 ms-auto">
                    <ul class="social-icon mt-lg-5 mt-3 mb-4">
                        <li class="social-icon-item">
                            <a href="https://www.facebook.com/nuestrafatima/" target="_blank" rel="noopener noreferrer"
                                class="social-icon-link bi-facebook" aria-label="Facebook Page">
                                <img src="/assets/media/facebook.svg"  
                                loading="lazy"
                                class="icon-small" 
                                width="24" height="24"
                                alt="facebook">                                                               
                            </a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://twitter.com/myguate_fatima" target="_blank" rel="noopener noreferrer"
                                class="social-icon-link bi-twitter" aria-label=" perfil de Twitter">
                                <img src="/assets/media/twitter.svg"  
                                loading="lazy"
                                class="icon-small" 
                                width="24" height="24"
                                alt="twitter">
                                                        
                            </a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://wa.me/50241835663" target="_blank" rel="noopener noreferrer"
                                class="social-icon-link bi-whatsapp" aria-label="Chat por WhatsApp ">
                                <img src="/assets/media/whatsapp.svg"  
                                    loading="lazy"
                                    class="icon-small" 
                                    width="24" height="24"
                                    alt="whatsapp">                                
                            </a>
                        </li>
                    </ul>
                    <small class="copyright-text">Diseño <a rel="nofollow" href="https://templatemo.com"
                            target="_blank">TemplateMo</a></small>
                    <small class="copyright-text"> y <a rel="nofollow" href="https://myguate.com"
                            target="_blank">MyGuate</a></small>
                    <!-- Print Page -->

                    <div class="mt-4">
                        <button onclick="window.print()" class="btn custom-btn smoothscroll me-3">Imprimir esta
                            página</button>
                    </div>

                </div>

            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#00a5aa" fill-opacity="1"
                d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
            </path>
        </svg>