<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="theme-color" content="#00a5aa"> 
    <meta name="apple-mobile-web-app-title" content="MyGuate.net">

    <meta name="keywords"        content="pediatra, pediatría, Esquipulas, Chiquimula, Guatemala, salud, enfermedad, vacunas, crecimiento, niño, niña">
    <meta name="description" content="atención pediátrica, salud de menores">
    <meta name="author" content="myguate.com">
    <title>Clín. Pediátr. NSF</title>

    <link rel="canonical" href="https://myguate.net/">

    <link rel="preconnect" href="https://myguate.net">
    
    <link rel="preload" href="/assets/fonts/fatima-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/fatima-black.woff2" as="font" type="font/woff2" crossorigin>
    
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    
 <!--  CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/fatima.css" rel="stylesheet">
    <link href="/assets/css/fonts.css" rel="stylesheet">


    <!-- SEO -->
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@graph": [
            {
            "@type": "MedicalClinic",
            "name": "Clínica Pediátrica Ntra. Sra. de Fátima",
            "url": "https://myguate.net",
            "logo": "https://myguate.net/images/logo.webp",
            "image": "https://myguate.net/images/logo.webp",
            "sameAs": [
                "https://www.facebook.com/nuestrafatima/",
                "https://twitter.com/myguate_fatima"
            ],
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "2 avenida 7-21 z. 1, San Mateo 2",
                "addressLocality": "Ciudad de Esquipulas",
                "addressRegion": "Chiquimula",
                "postalCode": "20007",
                "addressCountry": "GT"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": "14.567778",
                "longitude": "-89.346611"
            },
            "contactPoint": [
                {
                "@type": "ContactPoint",
                "telephone": "+502-4183-5663",
                "contactType": "customer support",
                "email": "clinicafatima@myguate.net",
                "areaServed": "GT",
                "availableLanguage": ["es", "en"]
                }
            ]
            },
            {
            "@type": "WebSite",
            "url": "https://myguate.net",
            "name": "Clínica Pediátrica Ntra. Sra. de Fátima",
            "inLanguage": "es",
            "audience": {
                "@type": "Audience",
                "audienceType": [
                "Health Care Providers",
                "Parents",
                "General Public",
                "Scientists"
                ],
                "geographicArea": {
                "@type": "Country",
                "name": "Guatemala"
                }
            },
            "hasPart": [
                {
                "@type": "SiteNavigationElement",
                "name": "Physician/Pediatrician Dr. Perera",
                "url": "https://myguate.net/#section_2"
                },
                {
                "@type": "SiteNavigationElement",
                "name": "Nuestros Servicios",
                "url": "https://myguate.net/#section_3"
                },
                {
                "@type": "SiteNavigationElement",
                "name": "Recursos",
                "url": "https://myguate.net/#section_4"
                },
                {
                "@type": "SiteNavigationElement",
                "name": "Programa",
                "url": "https://myguate.net/salud/event-listing.html"
                },
                {
                "@type": "SiteNavigationElement",
                "name": "FAQ - Preguntas y Respuestas",
                "url": "https://myguate.net/salud/preguntas_y_respuestas.html"
                },
                {
                "@type": "SiteNavigationElement",
                "name": "FAQ - Preguntas y Respuestas",
                "url": "https://myguate.net/salud/cydInfantil.html"
                },
                {
                "@type": "SiteNavigationElement",
                "name": "FAQ - Preguntas y Respuestas",
                "url": "https://myguate.net/salud/tecnica_lactancia_materna.html"
                },
                {
                "@type": "SiteNavigationElement",
                "name": "Detalles",
                "url": "https://myguate.net/salud/event-detail.html"
                }
            ]
            }
        ]
        }
        </script>
    
    
</head>